body {
    background-color: #F2F4F3;

}

header {
    background-color: #5E503F;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

header img {
    position: relative;
    z-index: 2;
    width: 100px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    font-family: 'Gabarito', sans-serif;
    font-size: 1.2rem;
    color: #F2F4F3;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.flex-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F4F3;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

main img {
    max-width: 100%;
    max-height: 30%;
}

h1 {
    font-family: 'Gabarito', sans-serif;
    font-size: 48px;
    text-align: center;
    color:#0A0908;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 2;
    color:#0A0908;
}

.flex-main-2 {
    background-color: #5E503F;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

.text-flex {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 70%;
}

.color-white {
    color:#F2F4F3;
}

#background-white {
    background-color: #F2F4F3;
}

.button {
    font-family: 'Gabarito', sans-serif;
    font-size: 24px;
    background-color: #22333B;
    color:#F2F4F3;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
}

.button:hover,
.button:focus {
    background-color: #22333b89;
    text-decoration: underline;
}

footer {
    background-color: #5E503F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

footer a {
    display: block;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #F2F4F3;
    font-size: 16px;
    text-align: center;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}

footer p {
    font-family:'Gabarito', sans-serif;
    font-size: 16px;
    color:#F2F4F3;
}

@media screen and (min-width: 768px) {
    
}